<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table>
        <tr>
            <td th:class="${estado == 'OPERANDO_1' ? 'focus' : 'nofocus'}">Operando1</td>
            <td th:text="${operando1}"></td>
        </tr>
        <tr>
            <td th:class="${estado == 'OPERANDO_2' ? 'focus' : 'nofocus'}">Operando2</td>
            <td th:text="${operando2}"></td>
        </tr>
        <tr>
            <td>Resultado</td>
            <td th:text="${resultado}"></td>
        </tr>
    </table><br /> <br /> <br />
    <table>
        <tr>
            <td><a th:href="@{/digito/1}">1</a></td>
            <td><a th:href="@{/digito/3}">2</a></td>
            <td><a th:href="@{/digito/2}">3</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/digito/4}">4</a></td>
            <td><a th:href="@{/digito/5}">5</a></td>
            <td><a th:href="@{/digito/6}">6</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/digito/7}">7</a></td>
            <td><a th:href="@{/digito/8}">8</a></td>
            <td><a th:href="@{/digito/9}">9</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/suma}">+</a></td>
            <td><a th:href="@{/digito/0}">0</a></td>
            <td><a th:href="@{/clear}">Clear</a></td>
        </tr>
        <tr>
            <td colspan="3"><a th:href="@{/igual}">=</a></td>
        </tr>
    </table>
</body>

</html>