<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Fotos</title>
    
</head>
<body>
    <h1><a th:href="@{/}">VIKINGS</a></h1>

    <h2>Galería</h2>

    <main>
        <div class="personaje">
            <img th:src="@{/imagenes/ragnar.jpg}" alt="Ragnar">
            <h3>Ragnar</h3>
        </div>

        <div class="personaje">
            <img th:src="@{imagenes/laguertha.jpg}" alt="laGuertha">
            <h3>laGuertha</h3>
        </div>

        <div class="personaje">
            <img th:src="@{imagenes/ivar.jpg}" alt="Ivar">
            <h3>Ivar</h3>
        </div>

        <div class="personaje">
            <img th:src="@{imagenes/rollo.jpg}" alt="Rollo">
            <h3>Rollo</h3>
        </div>

        <div class="personaje">
            <img th:src="@{imagenes/floki.jpg}" alt="Floki">
            <h3>Floki</h3>
        </div>
    </main>
    
</body>
</html>
